.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    box-shadow: 0 3px 10px -7px gray;
}
.main svg {
    font-size: 22px;
    color: gray;
}