.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.field label {
    font-size: 12px;
    color: black;
}
.field input {
    height: 40px;
    outline: none;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 14px;
    transition-duration: .3s;
}
.field input:focus {
    border: 1px solid #015301;
}